<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponents from "./components/CalComponents.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <br />
    <br />
    <FormBindings></FormBindings>
    <br />
    <br />
    <ConditionAndLoops></ConditionAndLoops>
    <br />
    <br />
    <AttributeBindings></AttributeBindings>
    <HandingUserInput></HandingUserInput>
    <CalComponents></CalComponents>
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
